.canvas{
    background-image: url("../src/noseva.png");
}
#botons{
    height: 165px;
    width: 180px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 205px;
    border-radius: 77770px;
    cursor: pointer;

}
#grose{
    position: absolute;
    height: 900px;
    width: 1700px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}