.canvas{
    background-image: url("../src/fondo_menu.png");    
}
#botoni{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 80px;
    border-radius: 77770px;
    cursor: pointer;
}